In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../files/survey_results_public.csv")

In [4]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [5]:
df["Country"].value_counts().head(10)

Country
United States     12469
India              8403
United Kingdom     3896
Germany            3890
Canada             2191
France             1898
Brazil             1818
Netherlands        1343
Poland             1278
Australia          1208
Name: count, dtype: int64

In [8]:
country_group = df.groupby("Country")
country_group.get_group("Hungary").sort_values("ConvertedComp", ascending=False).head(10)["ConvertedComp"]

53110    250000.0
45852    230916.0
17349    135123.0
13570    129720.0
7004     124800.0
16070    111341.0
58334     90804.0
49653     90000.0
13202     78912.0
12392     76971.0
Name: ConvertedComp, dtype: float64

In [9]:
country_group["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python", na=False).sum()).sort_values(ascending=False).head(10)

Country
United States     5964
India             2670
Germany           1712
United Kingdom    1621
Canada            1011
France             833
Brazil             635
Netherlands        544
Australia          524
Poland             509
Name: LanguageWorkedWith, dtype: int64

In [ ]:
df_xlsx = pd.read_excel("../files/employees.xlsx", usecols="A:C", sheet_name="employees", index_col=0, )

In [21]:
df_xlsx

            Jayne  Burchmore
1
2            Anna   De Paoli
3          Abbott   Itzchaki
4         Callean      Mayer
5            Burl  Heikkinen
6         Abagail     Curman
...           ...        ...
996   Cairistiona  Mullinger
997       Esmaria      Lagde
998         Benni   Gilderoy
999       Phineas    Dunmuir
1000     Starlene  Rittmeyer

[999 rows x 2 columns]